[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

visidata = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
"ansi2html" = "*"
"a44d820" = {path = "./../termrunner", editable = true}


[dev-packages]



[requires]

python_version = "3.6"
